@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono&display=swap');
:root {
    --border: rgb(128, 128, 128);
    --color: rgb(212, 212, 126);
}
.window {
    padding: 10px;
    border: 1px solid var(--border);
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.setting {
    padding: 15px 50px 15px 50px;
    font-weight: 400;
    font-size: 22px;
    background: none;
    border: none;
    color: var(--color);
    background-color: rgba(26, 26, 26, 0.613);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 2;
}
#settingButton {
    top: 270px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#minigameButton {
    top: 350px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#statButton {
    top: 430px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#menu {
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--border);
    padding: 5px;
    top: 40px;
    left: 40px;
}
#menu:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.1s;
}
#menu:active {
    transform: scale(1.05);
}
.container-left {
    position: absolute;
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--border);
    border-radius: 16px;
    box-shadow: 0px 10px 20px 10px #f9f97107;
    margin-top: 20px;
    margin-left: 20px;
}
#minigame-title {
    margin: auto;
    padding: 15px 20px 15px 20px;
    font-size: 38px;
}