@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono&display=swap');
:root {
    --border: rgb(128, 128, 128);
    --color: rgb(212, 212, 126);
    --sub-color: rgb(192, 192, 224);
    --dark-color: rgb(184, 185, 114);
}
#menuTitle {
    font-size: larger;
    z-index: 3;
    text-decoration: underline;
    position: absolute;
    height: auto;
    width: fit-content;
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
}
.window {
    padding: 200px 150px 250px 150px;
    border: 1px solid var(--border);
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 200px;
    z-index: 2;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    background-color: rgba(43, 43, 43, 0.658);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}
.setting {
    padding: 15px 50px 15px 50px;
    font-weight: 400;
    font-size: 22px;
    background: none;
    border: none;
    color: var(--color);
    background-color: rgba(26, 26, 26, 0.613);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 2;
    width: 200px !important;
}
#settingButton {
    top: 300px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: var(--color);
}
#minigameButton {
    top: 380px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: var(--color);
}
#statButton {
    top: 460px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: var(--color);
}
#closeButton {
    top: 540px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(165, 42, 42, 0.613);
    color: rgb(188, 188, 188);
}
#menu {
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--border);
    padding: 5px;
    top: 40px;
    left: 40px;
}
#menu:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.1s;
}
#menu:active {
    transform: scale(1.05);
}
.container-left {
    position: absolute;
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--border);
    border-radius: 16px;
    box-shadow: 0px 10px 20px 10px #f9f97107;
    margin-top: 20px;
    margin-left: 20px;
}
#LeftSide {
    height: 100%;
    background: linear-gradient(180deg, rgba(75, 75, 75, 0.445), rgba(23, 23, 23, 0.414));
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 2px solid var(--border);
}
#minigame-title {
    margin: auto;
    padding: 15px 20px 15px 20px;
    font-size: 38px;
}
#stat {
    z-index: 5;
    padding: 5px;
}
#statContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 30%;
    z-index: 2;
    color: var(--dark-color)
}
#settingContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 30%;
    z-index: 2;
    color: var(--dark-color)
}
#setting {
    z-index: 5;
    padding: 5px;
}