@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono&display=swap');
:root {
    --border: rgb(128, 128, 128);
    --color: rgb(212, 212, 126);
    --sub-color: rgb(192, 192, 224);
}
#minigameMenuButton {
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    width: 25px;
    height: 50px;
    border-radius: 0px 9px 9px 0px;
    position: fixed;
    left: 0;
    top: 50%;
}
#minigameMenuButtonSVG  {
    margin: 50% auto;
    display: flex;
}
#minigameMenuButton:hover {
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}
#minigameMenu {
    height: 100%;
    width: 350px;
    border-right: 2px solid var(--border);
    display: inline-block;
    position: absolute;
    background-color: #181818;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.openAnimation {
    animation: openAnimation 0.5s forwards;
}
.menuOpenAnimation {
    animation: menuOpenAnimation 0.5s forwards;
}
.closeAnimation {
    animation: closeAnimation 0.5s forwards;
}
.menuCloseAnimation {
    animation: menuCloseAnimation 0.5s forwards;
}
.openPosition {
    transform: translateX(350px);
}
.menuOpenPosition {
    left: 390px !important;
}
#minigameTitleDiv {
    border-bottom: 1px solid var(--border);
    text-align: center;
}
#minigameTitleDiv h1 {
    text-decoration: underline;
    padding: 25px;
    font-size: 38px;
}
#minigameSpacer {
    height: 100%;
    width: 350px;
    margin-bottom: 100%;
}
.closed {
    transform: translateX(-100%);
}



@keyframes openAnimation {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes menuOpenAnimation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(350px);
    }
}
@keyframes closeAnimation {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes menuCloseAnimation {
    0% {
        transform: translateX(350px);
    }
    100% {
        transform: translateX(0px);
    }
}