@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono&display=swap');
:root {
    --border: rgb(128, 128, 128);
    --color: rgb(212, 212, 126);
    --sub-color: rgb(192, 192, 224);
}
#spinnerDiv {
    width: 310px;
    height: 470px;
    border: 1px solid var(--border);
    border-radius: 15px;
    margin: 20px auto;
}
#spinnerImg {
    width: 270px;
    margin: 10px 0px;
    padding-left: 20px;
    padding-right: 21px;
    margin-bottom: 0;
}
#spinnerImg2 {
    width: 60px;
    transform: rotate(180deg);
    left: 42%;
    top: 790px;
    position: absolute;
}
#optionsDiv2 {
    top: 0;
    margin: 0;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-top: 1px solid var(--border);
}
#red {
    background-color: rgba(255, 0, 0, 0.477);
}
#blue {
    background-color: rgba(0, 110, 255, 0.463);
}
#green {
    background-color: rgba(0, 185, 9, 0.47);
}
#betAmount2 {
    background-color: rgba(206, 206, 206, 0.767);
    border: 2px solid rgba(182, 119, 38, 0.603);
    border-radius: 5px;
    height: 15px;
    width: 60px;
}
#betButton2 {
    font-size: 14px;
    border: 1px solid var(--border);
    width: 40px;
    height: 20px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    align-content: center;
}
#numberSelectButton {
    padding: 4px;
    font-size: 14px;
    border: 1px solid var(--border);
    width: 40px;
    height: 20px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    align-content: center;
}
#betButton2:hover {
    opacity: 0.6;
    transition: 0.1s;
    cursor: pointer;
}
#numberSelectButton:hover {
    opacity: 0.6;
    transition: 0.1s;
    cursor: pointer;
}
#spend2 {
    display: inline-flex;
    gap: 5px;
    position: absolute;
    left: 150px;
    top: 485px;
    margin-top: 430px;
    scale: 1.2;
}
#insufficientFunds2 {
    color: rgb(143, 45, 45);
    font-size: small;
    display: flex;
    margin-left: 150px;
    position: absolute;
    top: 900px;
}
#number {
    background-color: rgba(206, 206, 206, 0.767);
    border: 2px solid rgba(182, 119, 38, 0.603);
    border-radius: 5px;
    height: 15px;
    width: 60px;
}

.blue1 {
    animation: blue1 3s linear;
    
}
@keyframes blue1 {
    0% {
        transform: rotate(0deg);
        border: 0px;
    }
    60% {
        transform: rotate(360deg);
        border: 0px;
    }
    80% {
        transform: rotate(380deg);
        border: 0px;
    }
    100% {
        transform: rotate(380deg);
        border: 0px;
    }
}